<form class="signup-form" [formGroup]="signupForm" (ngSubmit)="signUp()">
    <h1>Регистрация</h1>

    <mat-form-field appearance="outline">
        <mat-label>Имя пользователя</mat-label>
        <input matInput formControlName="username" />
        @if (signupForm.get('username')?.hasError('required') && signupForm.get('username')?.touched) {
        <mat-error>
            Имя пользователя обязательно
        </mat-error>
        }

        @if (signupForm.get('username')?.hasError('minlength')) {
        <mat-error>
            Имя пользотваеля должно иметь минимум 5 символов
        </mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Почта</mat-label>
        <input matInput formControlName="email" />
        @if (signupForm.get('email')?.hasError('email')) {
        <mat-error>
            Некорректная почта
        </mat-error>
        }
        @if (signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched) {
        <mat-error>
            Почта обязательна
        </mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Пароль</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (signupForm.get('password')?.hasError('minlength')) {
        <mat-error>
            Пароль должен быть минимум 8 символов
        </mat-error>
        }
        @if (signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched) {
        <mat-error>
            Пароль обязателен
        </mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>О себе</mat-label>
        <textarea matInput formControlName="description" rows="5"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid || isSubmitted"
        [routerLink]="['/auth', 'login']">
        Зарегистрироваться
    </button>

    <p>Уже есть аккаут?
        <a [routerLink]="['/auth', 'login']">Войти</a>
    </p>
</form>
