.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--mat-sys-surface-variant);
    color: var(--mat-sys-on-surface-variant);

    width: 100%;
    max-width: 480px;
    margin: 4rem auto;
    padding: 3rem 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);

    h1 {
        margin-bottom: 1.5rem;
        color: var(--mat-sys-primary);
    }

    .form-group,
    mat-form-field {
        width: 100%;
        margin-bottom: 1rem;
    }

    p {
        margin-top: 1.5rem;
    }
}