<div class="layout">
    <nav class="navbar">
        @if (isProfilePage()) {
        <a [routerLink]="['/feed']">
            <mat-icon>arrow_back_ios_new</mat-icon>
        </a>

        <div class="right">
            <button class="btn-primary" type="submit" (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>

        } @else {
        <a [routerLink]="['/feed']" class="navbar__logo">
            Вкусный двор
        </a>

        @if (user$ | async; as user) {
        @if (user.is_admin) {
        <div class="right">
            <a [routerLink]="['/admin']" class="admin-btn">
                <span>Админ панель</span>
                <mat-icon>admin_panel_settings</mat-icon>
            </a>
            <a [routerLink]="['/me']">
                @if (user$! | async; as user) {
                @if (user.image_url) {
                <img class="profile-picture" [src]="user.image_url" alt="Profile" />
                } @else {
                <mat-icon class="profile-icon">account_circle</mat-icon>
                }
                }
            </a>
        </div>
        } @else {
        <a [routerLink]="['/me']">
            @if (user$! | async; as user) {
            @if (user.image_url) {
            <img class="profile-picture" [src]="user.image_url" alt="Profile" />
            } @else {
            <mat-icon class="profile-icon">account_circle</mat-icon>
            }
            }
        </a>
        }
        }


        }
    </nav>

    <main class="layout__content">
        <router-outlet></router-outlet>
    </main>

    <footer class="footer">
        <p>© {{ currentYear }} Сельков Вадим АИС-22-1</p>
    </footer>
</div>
